html {
  min-width: 350px; }

body {
  font-family: sans-serif;
  color: white;
  font-size: 10px; }

.arrow {
  font-size: 1.8em; }

.menu {
  display: none; }

header {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 4px;
  background-color: rgba(36, 41, 67, 0.05);
  min-width: 100px; }

.header_wrapper {
  background: linear-gradient(rgba(36, 41, 67, 0.85), rgba(36, 41, 67, 0.85)), url("img/header_foto.png");
  background-size: cover;
  background-position: center; }
  .header_wrapper h1 {
    font-size: 26px;
    padding: 20px 0px;
    border-bottom: 1.5px solid;
    margin: 50px 20px 30px; }
  .header_wrapper p {
    font-size: 9.5px;
    font-weight: bold;
    padding: 5px 20px;
    letter-spacing: 2px;
    text-space: 10px;
    line-height: 18px; }

button {
  width: 180px;
  height: 40px;
  background: none;
  padding: 5px 15px;
  border: 2px solid white;
  text-transform: uppercase;
  margin: 20px;
  margin-top: 5px;
  margin-bottom: 90px;
  color: white; }
  button a {
    display: flex;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 3px; }

button:hover {
  outline-color: none;
  border-color: yellow; }

header a:nth-child(1) {
  color: white;
  text-decoration: none; }

header a:nth-child(2) {
  color: white;
  text-decoration: none; }

strong {
  font-size: 10px;
  border: solid 1px black;
  padding: 5px 5px 5px 7px;
  color: black;
  background-color: white; }

.div_narrow {
  height: 295px;
  width: 100%;
  background-size: cover;
  background-position: center; }

.div_wide {
  height: 295px;
  width: 100%;
  background-size: cover;
  background-position: center; }

.div_narrow.first {
  background: linear-gradient(rgba(104, 195, 225, 0.85), rgba(104, 195, 225, 0.85)), url("img/eagle.jpg");
  background-size: cover;
  background-position: center; }

.div_narrow.first:hover {
  background: url("img/eagle.jpg");
  background-size: cover;
  background-position: center; }

.div_wide.first {
  background: linear-gradient(rgba(104, 70, 225, 0.85), rgba(104, 70, 225, 0.85)), url("img/yacht.jpg");
  background-size: cover;
  background-position: center; }

.div_wide.first:hover {
  background: url("img/yacht.jpg");
  background-size: cover;
  background-position: center; }

.div_narrow.second {
  background: linear-gradient(rgba(193, 195, 71, 0.85), rgba(193, 195, 71, 0.85)), url("img/church-3481187_1280.jpg");
  background-size: cover;
  background-position: center; }

.div_narrow.second:hover {
  background: url("img/church-3481187_1280.jpg");
  background-size: cover;
  background-position: center; }

.div_wide.second {
  background: linear-gradient(rgba(104, 195, 71, 0.85), rgba(104, 195, 71, 0.85)), url("img/dog-1168663_1280.jpg");
  background-size: cover;
  background-position: center; }

.div_wide.second:hover {
  background: url("img/dog-1168663_1280.jpg");
  background-size: cover;
  background-position: center; }

.div_narrow.third {
  background: linear-gradient(rgba(170, 115, 0, 0.85), rgba(170, 115, 0, 0.85)), url("img/ship-3493887_1280.jpg");
  background-size: cover;
  background-position: center; }

.div_narrow.third:hover {
  background: url("img/ship-3493887_1280.jpg");
  background-size: cover;
  background-position: center; }

.div_wide.third {
  background: linear-gradient(rgba(255, 0, 0, 0.85), rgba(255, 0, 0, 0.85)), url("img/woman-570883_1280.jpg");
  background-size: cover;
  background-position: center; }

.div_wide.third:hover {
  background: url("img/woman-570883_1280.jpg");
  background-size: cover;
  background-position: center; }

.main_images a {
  text-decoration: none;
  color: white; }
.main_images h2 {
  font-size: 20px;
  padding: 13px;
  padding-left: 0px;
  padding-top: 125px;
  margin: 0 135px 0 25px;
  border-bottom: 2px white solid;
  text-transform: capitalize; }
.main_images p {
  font-size: 10px;
  font-weight: bold;
  padding: 5px 25px;
  letter-spacing: 2px;
  text-transform: uppercase; }

article {
  height: 470px;
  background: #393E55; }
  article h2 {
    font-size: 20px;
    padding: 50px 0px 13px 0px;
    margin: 0 170px 0 25px;
    border-bottom: 2px white solid;
    text-transform: capitalize; }
  article p {
    font-size: 13px;
    padding: 25px 20px;
    padding-bottom: 10px;
    letter-spacing: 1.2px;
    line-height: 22px;
    font-weight: lighter; }

.contacts {
  background: #242943; }
  .contacts form {
    padding: 20px;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase; }
    .contacts form input {
      font-size: 20px;
      padding: 8px 15px;
      margin: 10px 0 20px;
      display: block;
      width: 90%;
      background: #393E55;
      border: 0px; }
    .contacts form input:focus {
      outline-color: yellow; }
    .contacts form textarea {
      font-size: 20px;
      padding: 8px 15px;
      margin: 10px 0 20px;
      display: block;
      width: 90%;
      height: 150px;
      background: #393E55;
      border: 0px; }
    .contacts form textarea:focus {
      outline-color: yellow; }
    .contacts form button:first-of-type {
      background: white;
      color: black; }
    .contacts form button:first-of-type:hover {
      background: yellow;
      color: black; }
    .contacts form button {
      font-size: 12px;
      letter-spacing: 2px;
      margin: 5px 10px 5px 0;
      padding: 10px 20px;
      width: auto; }

address {
  background: #242943; }

/*# sourceMappingURL=style.css.map */
