html{
  min-width: 350px;
}

//header settigs

$headerBackgroundColor: #242943;
$secondaryBackgroundColor: #393E55;
$BaseFontColor: white;
$BaseFontSize: 10px;
$menuFontsize: 12px;
$headerBackgroundImage: url("img/header_foto.png");

//main settings

%bg_img{
  background-size: cover;
  background-position: center;
}
$main_img_1: url("img/eagle.jpg");
$main_img_1_color: rgba(104, 195, 225, 0.85);
$main_img_2: url("img/yacht.jpg");
$main_img_2_color: rgba(104, 70, 225, 0.85);
$main_img_3: url("img/church-3481187_1280.jpg");
$main_img_3_color: rgba(193, 195, 71, 0.85);
$main_img_4: url("img/dog-1168663_1280.jpg");
$main_img_4_color: rgba(104, 195, 71, 0.85);
$main_img_5: url("img/ship-3493887_1280.jpg");
$main_img_5_color: rgba(170, 115, 0, 0.85);
$main_img_6: url("img/woman-570883_1280.jpg");
$main_img_6_color: rgba(255, 0, 0, 0.85);

//header css
body{
  font-family: sans-serif;
  color: $BaseFontColor;
  font-size: $BaseFontSize;
}
.arrow{
  font-size: 1.8em;
}
.menu{
  display: none;
}
header{
  display: flex;
  padding: 15px;
  justify-content: space-between;
  text-transform:  uppercase;
  font-size: $menuFontsize;
  font-weight: normal;
  letter-spacing: 4px;
  background-color: rgba(36,41,67,0.05);
  min-width: 100px;
}
.header_wrapper{
  background: linear-gradient(rgba(36,41,67,0.85),rgba(36,41,67,0.85)), url("img/header_foto.png");
  background-size: cover;
  background-position: center;
  h1{
    font-size: 26px;
    padding: 20px 0px;
    border-bottom: 1.5px solid;
    margin: 50px 20px 30px;
  }
  p{
    font-size: 9.5px;
    font-weight: bold;
    padding: 5px 20px;
    letter-spacing: 2px;
    text-space: 10px;
    line-height: 18px;
  }
}
button{
  width: 180px;
  height: 40px;
  background: none;
  padding: 5px 15px;
  border: 2px solid white;
  text-transform: uppercase;
  margin: 20px;
  margin-top: 5px;
  margin-bottom: 90px;
  color: $BaseFontColor;
  a{
    display: flex;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 3px;
  }
}
button:hover{
  outline-color: none;
  border-color: yellow;
}
header a:nth-child(1){
  color: $BaseFontColor;
  text-decoration: none;
}
header a:nth-child(2){
  color: $BaseFontColor;
  text-decoration: none;
}
strong{
  font-size: 10px;
  border: solid 1px black;
  padding: 5px 5px 5px 7px;
  color: black;
  background-color: white;
}

//main css

.div_narrow{
  height: 295px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.div_wide{
  height: 295px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.div_narrow.first{
  background: linear-gradient($main_img_1_color,$main_img_1_color), $main_img_1;
  background-size: cover;
  background-position: center;
}
.div_narrow.first:hover{
  background: $main_img_1;
  background-size: cover;
  background-position: center;
}
.div_wide.first{
  background: linear-gradient($main_img_2_color,$main_img_2_color), $main_img_2;
  background-size: cover;
  background-position: center;
}
.div_wide.first:hover{
  background: $main_img_2;
  background-size: cover;
  background-position: center;
}
.div_narrow.second{
  background: linear-gradient($main_img_3_color,$main_img_3_color), $main_img_3;
  background-size: cover;
  background-position: center;
}
.div_narrow.second:hover{
  background: $main_img_3;
  background-size: cover;
  background-position: center;
}
.div_wide.second{
  background: linear-gradient($main_img_4_color,$main_img_4_color), $main_img_4;
  background-size: cover;
  background-position: center;
}
.div_wide.second:hover{
  background: $main_img_4;
  background-size: cover;
  background-position: center;
}
.div_narrow.third{
  background: linear-gradient($main_img_5_color,$main_img_5_color), $main_img_5;
  background-size: cover;
  background-position: center;
}
.div_narrow.third:hover{
  background: $main_img_5;
  background-size: cover;
  background-position: center;
}
.div_wide.third{
  background: linear-gradient($main_img_6_color,$main_img_6_color), $main_img_6;
  background-size: cover;
  background-position: center;
}
.div_wide.third:hover{
  background: $main_img_6;
  background-size: cover;
  background-position: center;
}
.main_images {
  a{
    text-decoration: none;
    color: $BaseFontColor;
  }
  h2{
    font-size: 20px;
    padding: 13px;
    padding-left: 0px;
    padding-top: 125px;
    margin: 0 135px 0 25px;
    border-bottom: 2px white solid;
    text-transform: capitalize;
  }
  p{
    font-size: 10px;
    font-weight: bold;
    padding: 5px 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
article{
  height: 470px;
  background: $secondaryBackgroundColor;
  h2{
    font-size: 20px;
    padding: 50px 0px 13px 0px;
    margin: 0 170px 0 25px;
    border-bottom: 2px white solid;
    text-transform: capitalize;
  }
  p{
    font-size: 13px;
    padding: 25px 20px;
    padding-bottom: 10px;
    letter-spacing: 1.2px;
    line-height: 22px;
    font-weight: lighter;
  }
  button{
    //margin-bottom: 50px;
  }
}
.contacts{
  background: $headerBackgroundColor;
  //height:400px;
  form{
    padding: 20px;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    input{
      font-size: 20px;
      padding: 8px 15px;
      margin: 10px 0 20px;
      display: block;
      width: 90%;
      background: $secondaryBackgroundColor;
      border: 0px;
    }
    input:focus{
      outline-color: yellow;
    }
    textarea{
      font-size: 20px;
      padding: 8px 15px;
      margin: 10px 0 20px;
      display: block;
      width: 90%;
      height: 150px;
      background: $secondaryBackgroundColor;
      border: 0px;
    }
    textarea:focus{
      outline-color: yellow;
    }
    button:first-of-type{
      background: white;
      color: black;
    }
    button:first-of-type:hover{
      background: yellow;
      color: black;
    }
    button{
      font-size: 12px;
      letter-spacing: 2px;
      margin: 5px 10px 5px 0;
      padding: 10px 20px;
      width: auto;
    }
  }
}
address{
  background: $headerBackgroundColor;
  div{
    border-top: 1px solid $secondaryBackgroundColor;
    h2{
      font-size: 18px;
      padding: 45px 70px 10px 10px;
      font-style: normal;
      margin: 0px;
    }
  }
  a{
    color: $BaseFontColor;
    display: block;
    letter-spacing: 1px;
    font-size: 13px;
    font-style: normal;
    margin: 10px 120px 50px 70px;
    border-bottom: 1px white dotted;
    text-decoration: none;
    transition: color 1s linear, border-bottom 3s;
  }
  a:hover{
    color: yellow;
    border-bottom: none;
    text-decoration: none;
  }
  i{
    color: $headerBackgroundColor;
    background: white;
    border: 1px solid white;
    border-radius: 25px;
    padding: 6px;
    margin: 0 15px;
  }
}