body{
    font-family: sans-serif;
}
header{
    display:flex;
    border: solid 1px black;
    padding: 20px;
    justify-content: space-between;
    text-transform:  uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 4px;
    background-color:#242943;
}
header a:nth-child(1){
    color: white;
    text-decoration: none;
}
header a:nth-child(2){
    color: white;
    text-decoration: none;
}
strong{
    border: solid 1px black;
    padding: 5px 5px 5px 10px;
    color: black;
    background-color: white;
}
main{
    height: 2000px;
}